*{
	margin:0;
	padding:0;
}
body{
	background:#fff;
	font:11px/20px Tahoma,Helvetica,sans-serif;
	color:#222;
}

#wrapper{
	width:980px;
	margin:0 auto;
}
	#header-top{
		height:55px;
		overflow:hidden;
		padding:20px 31px 0 31px;
	}
		#header-top h1{
			background:url(images/logo.gif) no-repeat;
			width:289px;
			float:left;
		}
			#header-top h1 a{
				display:block;
				height:49px;
			}
				#header-top h1 a span{
					display:none;
				}
		#header-top h2{
			background:url(images/slogan.gif) no-repeat;
			float:right;
			display:block;
			width:422px;
			height:33px;
			margin:7px 0 0 0;
		}
			#header-top h2 span{
				display:none;
			}
	#header{
		background:url(images/header.jpg) no-repeat;
		width:980px;
		height:281px;
	}
		#banner{
			height:205px;
			padding:13px;
			overflow:hidden;
		}
			#banner .text{
				float:left;
				padding:24px 0 0 31px;
				width:540px;
				color:#fff;
			}
			#banner .imgs{
				float:right;
				padding:-5px 0 0 0px;
				width:300px;
				color:#fff;
			}
				#banner .text p{
					margin:0 0 10px 0;
				}
				#banner .text h3{
					font-family: "Myriad Pro Cond" ;
					font-size:32px;
					color:#fff;
					font-weight:bold;
				}
				#banner .readmore{
					float:none;
					padding:0;
				}
			#banner img{
				float:right;
				padding:23px 77px 0 0;
			}
		#menu{
			height:44px;
			margin:0 0 0 50px;
		}
			#menu ul{
				list-style:none;
				margin:12px 0 0 0;
			}
				#menu li{
					margin:0 11px 0 0;
				}
				#menu li, #menu li a, #menu li a span, #menu li a.current, #menu li a.current span{
					display:block;
					float:left;
					height:22px;
					line-height:20px;
					color:#838383;
					cursor:pointer;
					font-size:12px;
				}
					#menu li a, #menu li a.current{
						text-decoration:none;
						padding:0 0 0 10px;
					}
						#menu li a span, #menu li a.current span{
							padding:0 20px 0 10px;						
						}
							#menu li a:hover, #menu li a.current{
								background:url(images/menu-h-left.gif) no-repeat left;
							}
								#menu li a:hover span, #menu li a.current span{
									color:#fff;
									background:url(images/menu-h-right.gif) no-repeat right;
								}
	#container-wrapper{
		width:960px;
		margin:0 auto;
	}
		#container{
			padding:30px 0 20px 0;
			width:930px;
			margin:0 auto;
		}
			#mainarea, .mblock1{
				width:613px;
				float:left;
			}
				.mblock1 h4{
					background:url(images/blue-b.gif) no-repeat left;
					height:43px;
					line-height:35px;
					color:#fff;
					text-indent:17px;
					font-weight:bold;
				}
				.mblock1 div{
					padding:0 10px;
				}
			#sidearea{
				width:297px;
				float:right;
			}
		#footer{
			background:url(images/footer-bg.gif) no-repeat;
			padding:26px 8px 0 8px;
			font-size:10px;
		}
			#footer a{
				font-weight:normal;
			}


.block1{
	width:297px;
}
	.block1.nomargin{
		margin:0;
	}
	.block1 h4{
		width:297px;
		height:43px;
		color:#fff;
		line-height:35px;
		text-indent:17px;
		background:url(images/blue.gif) no-repeat;
		font-weight:bold;
		font-size:15px;
	}
		.block1 h4.green{
			background:url(images/green.gif) no-repeat;
		}
		.block1 h4.grey{
			background:url(images/grey.gif) no-repeat;
		}
		.block1 div{
			width:273px;
			padding:0 10px !important;
			padding:0 5px;
		}
		.block1 img{
			border:1px solid #bfbfbf;
			padding:3px;
			margin:0 0 8px 0;
		}
		.block1 a{
			font-weight:normal;
			text-decoration:underline;
			color:#1370a9;
		}
			.block1 a:hover{
				color:#222;
				text-decoration:none;
			}
		.recent-works{
			width:270px;
			padding:0 10px !important;
			padding:0 5px;
		}
			.recent-works img{
				border:1px solid #d1d1d1;
				background:#fff url(images/recent-works-bg.jpg) repeat-x top;
				padding:6px;
			}
	

.input{
	border:1px solid #a5a5a5;
	background:none;
	cursor:text;
	margin:5px 0;
	padding:2px;
	width:200px;
}
textarea.input{
	width:415px;
	height:100px;
}
.input:focus, .textarea:focus{
	border:1px solid #1d88b4;
}
.signin-btn, .button1{
	background:#1d88b4 url(images/btn.gif) repeat-x top;
	line-height:20px;
	margin:8px 0;
	padding:2px 10px !important;
	padding:2px 0;
	color:#fff;
	font-weight:bold;
	border:none;
	outline:none;
	cursor:pointer;
	border:1px solid #1d88b4;
}

#container p.hr{
	border:solid #d3d3d3;
	border-width:1px 0 0 0;
	margin:0;
	outline:none;
}
#container p{
	margin:0 0 15px 0;
}
#container form p{
	margin:0 0 5px 0;
}
#container p img.floatleft{
	margin:0 20px 0 0;
}
#container p img.floatright{
	margin:0 0 0 20px;
}
#mainarea img.floatleft, #mainarea p img.floatleft{
	margin:10px 10px 10px 0;
}
#mainarea img.floatright, #mainarea p img.floatright{
	margin:10px;
}
#container ul, #container ol{
	margin:0 0 0 20px;
}
#container ol{
	margin:0 0 0 30px;	
}
ul#portfolio{margin:0;list-style:none;}
#container dt, #container1 dt{
	font-weight:bold;
	margin:20px 0 10px 0;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}
a {
	color:#222;
	text-decoration:none;
	font-weight:bold;
}
a:hover {text-decoration:underline;color:#1370a9;}
h1{font-size:32px;}
h2{font-size:22px;}
h3{font-size:18px;}
h4{font-size:16px;}
h5, h6{font-size:14px;}
h1,h2,h3,h4,h5,h6{margin:0 0 15px 0; color:#5c5b5b;font-family:"Trebuchet MS";font-weight:normal;}
img{border:none;}
.clear{clear:both;}
.floatleft{float:left;}
.floatright{float:right;}
.center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.normal, .normal a{font-weight:normal;}
.textbold{font-weight:bold;}
#container .nomargin, .nomargin{margin:0;}
#container.nobg, .nobg{background:none;}
.padding15{padding:15px;}

/** 
 * Slideshow style rules.
 */
#slideshow {
	margin:0 auto;
	width:900px;
	height:200px;
	background:transparent url(img/bg_slideshow.jpg) no-repeat 0 0;
	position:relative;
}
#slideshow #slidesContainer {
  margin:0 auto;
  width:800px;
  height:200px;
  overflow:hidden;
  position:relative;
}
#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:780px; 
  height:200px;
}


.control {
  display:block;
  width:50px;
  height:50px;
  text-indent:-10000px;
  position:absolute;
  cursor: pointer;
  z-index:9;
}
#leftControl {
  top:100px;
  left:0;
  background:transparent url(slide/prev_slide.png) no-repeat 0 0;
}
#rightControl {
  top:100px;
  right:0;
  background:transparent url(slide/next_slide.png) no-repeat 0 0;
}


.slide h2, .slide p {
  margin:15px;
}
.slide h2 {
  color:#ccc;
  letter-spacing:-1px;
}
.slide img {
  float:right;
  margin:0 15px;
}

