vti_encoding:SR|utf8-nl
vti_author:SR|TeamNH\\David
vti_modifiedby:SR|TeamNH\\David
vti_timelastmodified:TR|20 Feb 2008 15:00:44 -0000
vti_timecreated:TR|20 Feb 2008 15:00:44 -0000
vti_cacheddtm:TX|20 Feb 2008 15:00:44 -0000
vti_filesize:IR|11604
vti_cachedlinkinfo:VX|S|keramik_gradient_h.gif S|keramik_bubble.gif
vti_cachedsvcrellinks:VX|NSUS|dimat/theme/keramik_gradient_h.gif NSUS|dimat/theme/keramik_bubble.gif
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|dimat/index.htm proyecto/index.htm
